.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 5em;
}

.App-intro {
  font-size: 3em;
}

h4 {
  font-style: italic;
  font-size: large;
}
.question_section {
  font-style: italic;
  color: blue;
}

body {
  background-color: bisque;
}
.Button-submit {
  font-weight: bold;
  background-color: #ff6f00;
  border: 2px solid #ff6f00;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 4px;
}
